[UNIT]
Description=Start theWeather.system statistics

[Service]
ExecStart=/usr/bin/startProcedure
KillMode=process

[Install]
WantedBy=multi-user.target
